# Template wrapper to load configuration from apps-config.yml
# This template reads the external config file and passes it to the dynamic stages template

parameters:
  - name: selectedApp
    type: string
  - name: selectedEnvironment
    type: string
  - name: azureLocation
    type: string
  - name: acrName
    type: string
  - name: azureServiceConnection
    type: string

# Import configuration from external file
variables:
  - template: ../config/apps-config.yml

stages:
  - template: dynamic-stages-with-config.yml
    parameters:
      selectedApp: ${{ parameters.selectedApp }}
      selectedEnvironment: ${{ parameters.selectedEnvironment }}
      azureLocation: ${{ parameters.azureLocation }}
      acrName: ${{ parameters.acrName }}
      azureServiceConnection: ${{ parameters.azureServiceConnection }}
      config: ${{ variables }}
